<!DOCTYPE html>
<html>
 </script>
  <head>
    <meta charset="utf-8">
    <title>َURL Shorten Link</title>
    <link rel="stylesheet" href="../static/CDM.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  </head>

<body>
    <div class="wrapper">
        <form action="#" autocomplete="off">
          <input type="text" spellcheck="false" name="full_url" placeholder="Enter or paste a long url" required>
          <i class="url-icon uil uil-link"></i>
          <button>Shorten</button>
        </form>
    <div class="count">
        <span>Total Links: <span> 10</span></span>
        <a href="#">Clear All</a>
    </div>
    <div class="urls-area">
    <div class="title">
        <li>Shorten URL</li>
        <li>Original URL</li>
        <li>Action</li>
        <li>Action</li>        
    </div>
    <div class="data">
        <li>Test</li>
        <li>https://www.youtube.com/results?search_query=mysql+sign+in+form+python+</li>
        <li><a href="#">Delete</a></li>
        <li>Action</li>
    </div>

</body>
</html>